doctype html
html
    head
        title Index
        style
            include ../../css/style.css
    body
        include ../layout/header.pug
        div
            form(action="/group/config/add" method="POST")
                label Content
                    textarea(name="config")
                label Device
                    select(name="device_id")
                        each group in groups
                            if group[0] == query
                                option(value=group[0], selected=true) #{group[1]}
                            else
                                option(value=group[0]) #{group[1]}
                input(type="submit")